@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype'); /* Adjust path and format as needed */
  font-weight: 100 900; /* Specify the available weight range */
  font-stretch: 50% 200%; /* Specify the available width range */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1,h2,h3,h5,h6,p{
    font-family: 'Lexend', sans-serif;
  }
}
